body {
  background-image: url("https://previews.123rf.com/images/tanyushka81/tanyushka811707/tanyushka81170700020/81570322-fleur-de-lis-seamless-pattern-vector-illustration-black-white-template-floral-texture-elegant-decora.jpg");
}

@font-face {
  font-family: "Montserrat";
  src: url(../fonts/Montserrat.ttf) format('truetype');
}

#container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#navigation {
  /* background-color: #161932; */
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
  flex-direction: column;
  align-items: center;
  font-size: 30px;
  font-weight: bold;
}

.links, .gallery-header {
  font-family: "Montserrat";
  color: 9EC6D5;
}

ul>li {
  display: inline;
  padding: 50px;
}

a {
  font-family: 'Dancing Script', cursive;
  color: #9EC6D5;
  text-decoration: none;
}

.flex-container {
  display: flex;
  justify-content: center;
  /* background-color: #D4AF37; */
}

h1 {
  color: #D4AF37;
}

#heart {
  position: relative;
  height: 170px;
  width: 200px;
  margin: 20px;
}
p {
  font-family: 'Dancing Script', cursive;

}

.content{
    font-family: 'Dancing Script', cursive;
    font-size: 30px;
    margin: 0px;
    width: 700px;
    color: #FF69B4;
}

#heart::before, #heart::after {
  position: absolute;
  content: "";
  top: 5px;
  width: 100px;
  height: 160px;
  background: #FF69B4;
  border-radius: 50px 50px 0 0;
}

#heart::before {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  left: 100px;
  -webkit-transform-origin: 0 100%;
  transform-origin: 0 100%;
}

#heart::after {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  left: 0;
  -webkit-transform-origin: 100% 100%;
  transform-origin: 100% 100%;
}
